# ========================================================
# CareSlot Application Environment Configuration
# ========================================================

# MySQL Configuration
DB_NAME=careslot_db
DB_USERNAME=root
DB_PASSWORD=root
DB_EXTERNAL_PORT=3306

# Redis Configuration
REDIS_EXTERNAL_PORT=6379

# Backend Configuration
BACKEND_PORT=8080

# Frontend URL (Production: https://elog.click | Dev: http://localhost:5173)
FRONTEND_URL=https://elog.click

# Security & JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000


# VNPay Sandbox Configuration
VNPAY_TMN_CODE=AS09APAU
VNPAY_HASH_SECRET=BZKK4YZW5D75KC87AWRN75YN0FR2DD52
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# Production VNPay URLs:
VNPAY_RETURN_URL=https://elog.click/payment/vnpay-callback
VNPAY_IPN_URL=https://api.elog.click/api/v1/payments/vnpay-ipn
VNPAY_HOLD_TIMEOUT_MINUTES=10


# ==================================================
# CẤU HÌNH GMAIL SMTP (Gửi Email xác nhận đặt lịch)
# ==================================================
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# Cookie Settings (Production HTTPS: true | Local: false)
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax

# Hibernate Logging
SHOW_SQL=false
FORMAT_SQL=false

# ==================================================
# CẤU HÌNH GEMINI
# ==================================================
GEMINI_API_KEY=your-gemini-api-key

# ==================================================
# CẤU HÌNH S3 AWS
# ==================================================
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=careslot-images-dev

